{# templates/character/my_characters.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}My Characters{% endblock %}

{% block body %}
    <h1>My Characters</h1>
    <ul class="grid grid-cols-5">
        {% for character in characters %}
            <img src="{{ character.photoUrl.url }}" />
            {# Ajoutez plus de détails selon vos besoins #}
        {% else %}
            <li>No characters found.</li>
        {% endfor %}
    </ul>
{% endblock %}
